{% extends 'basecliente.html' %}
{% load static %}


{% block title%}Documentos carregados{% endblock %}

{% block content%}
    <!-- Recent Order Table -->
    <div class="card card-table-border-none recent-orders" id="recent-orders">
        <div class="card-header justify-content-between">
        <h2>Documentos carregados</h2>
        </div>
        <div class="card-body pt-0 pb-5">
        <table class="table card-table table-responsive table-responsive-large" style="width:100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Tamanho</th>
                <th class="d-none d-lg-table-cell"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for d in documents %}
                <tr>
                    <td >{{d.0.id}}</td>
                    {% with nome_documento=d.0.file.name %}
                    
                    <td >
                        <a class="text-dark" href="">{{ d.1 }}</a>
                    </td>
                    <td >
                        <a class="text-dark" href="">{{d.0.file.size}} bytes</a>
                    </td>
                    <td >
                        {% with docu=d.1 %}
                            {% if nome_documento|lower|slice:"-4:" == ".pdf" %}
                            <a href="{% url 'Autoprint_Gestaopedidos:adicionarimpressao' documento=docu  %}"> <span class="badge badge-danger">(PDF) Imprimir</span></a>
                            {% elif nome_documento|lower|slice:"-5:" == ".docx" %}
                                <a href="{% url 'Autoprint_Gestaopedidos:adicionarimpressao' documento=docu  %}" ><span class="badge badge-primary">(DOCX) Imprimir</span></a>
                            {% else %}
                                <span class="badge badge-warnning">NA</span>
                            {% endif %}  
                        {% endwith %}    
                    </td>
                    <td class="text-right">
                    <div class="dropdown show d-inline-block widget-dropdown">
                        <a class="dropdown-toggle icon-burger-mini" href="" role="button" id="dropdown-recent-order1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static"></a>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-recent-order1">
                        <li class="dropdown-item">
                            <a href="{% url 'Autoprint_Gestaopedidos:baixardocumento' id=d.0.id  %}">Baixar</a>
                        </li>
                        <li class="dropdown-item">
                            <a href="{% url 'Autoprint_Gestaopedidos:apagardocumento' id=d.0.id  %}">Apagar</a>
                        </li>
                        </ul>
                    </div>
                    </td>

                </tr>
                {%  endwith  %}
            {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
  {% endblock%}