
{% extends 'base.html' %}

{% block title%}AAEE WARS - New Password{% endblock %}

{% block content%}
    <h4 class="card-title mt-3 text-center">Alterar a Senha</h4>
    {% if error %}
      <p class="text-center"><div class="card-body collapse show" id="collapse5">
        <div class="webnots-purple webnots-notification-box">{{ error }}</div>
      </div></p>
    {% endif %}
    <div class="clearfix">

      <form  method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
         <p class="tx-center">Please reset your password.</p>
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <div class="input-group-text"><i class="fa fa-lock"></i></div>
            </div>
            <input type="password" id="id_old_password" placeholder="Senha Actual" name="old_password" class="form-control form-control-sm pwd" required>
         </div>
         <div class="form-group input-group">
            <div class="input-group-prepend">
               <div class="input-group-text"><i class="fa fa-lock"></i></div>
            </div>
            <input type="password" id="id_new_password1" placeholder="Nova Senha" name="new_password1" class="form-control form-control-sm pwd"  required>
         </div>
         <div class="form-group input-group">
          <div class="input-group-prepend">
             <div class="input-group-text"><i class="fa fa-lock"></i></div>
          </div>
          <input type="password" id="id_new_password2" placeholder="Nova Senha Novamente" name="new_password2" class="form-control form-control-sm pwd" required>
       </div>
         <div class="input-group mg-y-20">
            <input type="submit" value="Change Password" class="btn btn-custom-primary w-100 tx-13">
         </div>
      </form>
      <p class="text-center"><a href="{% url 'dashboard' %}">Pagina Inicial</a> </p>
    </div>
    
{% endblock%}


