{% extends 'base.html' %}
{% load static %}
{% block title%}Login{% endblock %}

{% block content%}
   <div class="card-body p-5">
      <h4 class="text-dark mb-5">Entrar</h4>
      
      <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-12 mb-4">
            <input type="text" class="form-control input-lg" id="username" name="username" aria-describedby="emailHelp" placeholder="Username">
          </div>

          <div class="form-group col-md-12 ">
            <input type="password" class="form-control input-lg" name="password" id="password" placeholder="Password">
          </div>

          <div class="col-md-12">
            <div class="d-flex my-2 justify-content-between">
              <div class="d-inline-block mr-3">
                <label class="control control-checkbox">Lembre-se de mim
                  <input type="checkbox" />
                  <div class="control-indicator"></div>
                </label>
              </div>

              <p><a class="text-blue" href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block mb-4" value="Entrar">

            <p>Ainda não tem uma conta?
              <a class="text-blue" href="{% url 'register' %}">Cadastrar-se</a>
            </p>
          </div>
        </div>
      </form>
    </div>
{% endblock%}