{% extends 'base.html' %}

{% block title%}AAEE WARS - Resent Password{% endblock %}

{% block content%}
        <div class="clearfix">
            <form method="post">
                {% csrf_token %}
                <p class="tx-center">Escreva o Seu Email</p>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                       <span class="input-group-text pd-x-9"> <i class="fa fa-user-circle"></i> </span>
                    </div>
                    <input class="form-control form-control-sm" type="email" name="email" autocomplete="email" maxlength="254" id="id_email">
                 </div>
                <div class="input-group mg-y-20">
                    <input type="submit" value="Send Email" class="btn btn-custom-primary w-100 tx-13">
                </div>
            </form>
            <p class="text-center"><a href="{% url 'login' %}">Login</a> </p>
        </div>
{% endblock%}



