{% load i18n %}
{% autoescape off %}


{% extends 'base.html' %}

{% block title%}Email para alterar a sua senha{% endblock %}

{% block content%}
    <div class="card-body p-5">
        <h4 class="text-dark mb-5"><p class="text-center"> Você recebeu este email porque alguém solicitou a redefinição da senha da sua conta em nosso site.
        
            Por favor, clique no link abaixo para redefinir sua senha:
            
            {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            
            Se você não solicitou a redefinição da senha, ignore este email.
            
            Obrigado. <a href="{% url 'dashboard' %}">Pagina Inicial</a></h4>
    </div>
{% endblock%}
{% endautoescape %}
