{% load i18n %}
{% autoescape off %}


{% extends 'base.html' %}

{% block title%}AAEE WARS - Email for Change Password{% endblock %}

{% block content%}
    <h4 class="card-title mt-3 text-center">Olá</h4>
    <p class="text-center">
        Você recebeu este email porque alguém solicitou a redefinição da senha da sua conta em nosso site.
        
        Por favor, clique no link abaixo para redefinir sua senha:
        
        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
        
        Se você não solicitou a redefinição da senha, ignore este email.
        
        Obrigado. <a href="{% url 'dashboard' %}">Pagina Inicial</a>
    </p>
{% endblock%}
{% endautoescape %}
