
{% extends 'base.html' %}

{% block title%}AAEE WARS - Confirm Reset Password{% endblock %}

{% block content%}
    <h4 class="card-title mt-3 text-center">Confirm Reset Password</h4>
    {% if error %}
      <p class="text-center"><div class="card-body collapse show" id="collapse5">
        <div class="webnots-purple webnots-notification-box">{{ error }}</div>
      </div></p>
    {% endif %}
    <div class="clearfix">
      <form  method="post" >
        {% csrf_token %}
         <div class="input-group mg-y-20">
            <input type="submit" value="Confirmar" class="btn btn-custom-primary w-100 tx-13">
         </div>
      </form>
    </div>
    
{% endblock%}


