
{% extends 'base.html' %}

{% block title%}Cadastrar-se{% endblock %}

{% block content%}

    {% if error %}
         {{ error }}
    {% endif %}
   
     <div class="card-body p-5">
      <h4 class="text-dark mb-5">Cadastrar-se</h4>
      
      <form method="post" action="{% url 'register' %}">
         {% csrf_token %}
        <div class="row">
          <div class="form-group col-md-12 mb-4">
            <input class="form-control form-control-sm" placeholder="Primeiro Nome" type="text" id="first_name" name="first_name" required>
         </div>
         <div class="form-group col-md-12">
             <input class="form-control form-control-sm" placeholder="Apelido" type="text" id="last_name" name="last_name" required>
          </div>
         <div class="form-group col-md-12">
            <input class="form-control form-control-sm" placeholder="Email" type="email" id="email" name="email" required>
         </div>
         <div class="form-group col-md-12">
             <input class="form-control form-control-sm" placeholder="Username" type="text" id="username" name="username" required>
          </div>
         <div class="form-group col-md-12">
            <input class="form-control form-control-sm" placeholder="Password" type="password" id="password" name="password" required>
         </div>
         <div class="form-group col-md-12">
            <input class="form-control form-control-sm" placeholder="Password Again" type="password" id="confirm_password" name="confirm_password" required>
         </div>
       
         <div class="form-group row">
            
            <div class="form-group col-md-12">
               {% for c in cats %}
                  <label class="control control-radio">Sou {{c}}
                     <input type="radio" name="catego" value="{{c}}"  />
                     <div class="control-indicator"></div>
                  </label>
               {% endfor %}

               
            </div>
         </div>

          <div class="col-md-12">
            <div class="d-flex my-2 justify-content-between">
              <div class="d-inline-block mr-3">
                <label class="control control-checkbox">Lembre-se de mim
                  <input type="checkbox" />
                  <div class="control-indicator"></div>
                </label>
              </div>
            </div>

            <input type="submit" class="btn btn-lg btn-primary btn-block mb-4" value="Cadastrar">

            <p>Já tem uma conta?
               <a class="text-blue" href="{% url 'login' %}">Login</a>
             </p>
          </div>
        </div>
      </form>
    </div>


    
{% endblock%}
