{% extends 'basecliente.html' %}
{% load static %}

{% block title%}Interface Inicial{% endblock %}

{% block content%}
    <div class="card card-default">
        <div class="card-header card-header-border-bottom">
            <h2>Página inicial</h2>
        </div>

        <div class="card-body">
           <!--Dash--> 
           
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card mb-4">
                            <img class="card-img-top" src="{% static 'assets/img/documents.png'%}">
        
                            <div class="card-body">
                                <h5 class="card-title text-primary">Documentos</h5>
                                <p class="card-text pb-3">Carregue alguns documentos para serem impressos </p>
                                <a href="{% url 'Autoprint_Gestaopedidos:uploaddocumente' %}" class="btn btn-outline-primary">Fazer upload</a>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6 col-xl-3">
                        <div class="card mb-4">
                            <img class="card-img-top" src="{% static 'assets/img/printer.png'%}">
        
                            <div class="card-body">
                                <h5 class="card-title text-primary">Impressões</h5>
                                <p class="card-text pb-3">Crie impressões especificando todos os detalhes de como o documento deve ser impresso </p>
                                <a href="#" class="btn btn-outline-primary">Criar impressão</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-3">
                        <div class="card mb-4">
                            <img class="card-img-top" src="{% static 'assets/img/order.png'%}">
        
                            <div class="card-body">
                                <h5 class="card-title text-primary">Pedidos</h5>
                                <p class="card-text pb-3">Pode ver a lista de documentos a serem impressos e, informações relativas a pedidos. </p>
                                <a href="#" class="btn btn-outline-primary">Ver lista de pedidos</a>
                            </div>
                        </div>
                    </div>

                    
        
                    
                </div>
            

           <!--Dash--> 
        </div>
    </div>
{% endblock%}