{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta
			http-equiv="Content-Type"
			content="text/html; charset=UTF-8"
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale = 1.0, maximum-scale = 1.0, user-scalable=no"
		/>
		<script src="{% static 'assets\js\jquery.min.js'%}"></script>
		<script src="{% static 'assets\plugns\PDF.js Library\pdf.js'%}"></script>
		<script src="{% static 'assets\plugns\PDF.js Library\pdf.worker.js'%}"></script>
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/1.9.426/pdf_viewer.js"></script> -->
		<link
			rel="stylesheet"
			href="{% static 'assets\css\index.css'%}"
		/>
		<title>PDF Reader</title>
	</head>

	<body >
        
		<div id="pdf-main-container">
			<div id="pdf-loader">Loading document ...</div>
			<div id="pdf-contents">
				<div
					id="pdf-meta"
					class="navBar"
				>

					<div id="page-count-container">
						Page
						<div id="pdf-current-page">1</div>
						of
						<div id="pdf-total-pages"></div>
					</div>
				</div>
				<div id="pdfContainer"></div>
				<div id="page-loader">Loading page ...</div>
			</div>
		</div>
		<script src="{% static 'assets\js\index.js'%}"></script>
	</body>
</html>
